SAVE_PATH = '/var/www/spaceapi/status.json'
HTML_PATH = '/var/www/spaceapi/index.html'
TEMPLATE_PATH = '/usr/share/bytespeicher/status_template'

PLUGINS = {
    'temperature': {
        'urls': [
            'http://134.97.126.41/temp_werkstatt.json'
        ]
    },
    'status': {
        'url': 'http://134.97.126.12/spaceapi.json'
    }
}

API_DATA = {
    "api": "0.13",
    "space": "Bytespeicher",
    "logo": "https://pbs.twimg.com/profile_images/378800000769511011/a000ec284ff2e7966373b95aa2054864.jpeg",
    "url": "https://bytespeicher.org",
    "location": {
        "address": "Liebknechtstrasse 8, 99085 Erfurt, Germany",
        "lon": 11.03965,
        "lat": 50.98271
    },
    "contact": {
        "email": "vorstand@technikkultur-erfurt.de",
        "phone": "+493617929903",
        "irc": "irc://irc.hackint.eu/bytespeicher",
        "twitter": "@bytespeicher_ef",
        "facebook": "https://www.facebook.com/Bytespeicher",
        "google": {
            "plus": "https://plus.google.com/115774236721304179602",
        },
        "ml": "bytespeicher@lists.bytespeicher.org"
    },
    "issue_report_channels": [
        "twitter"
    ],
    "state": {
        "icon": {
            "open": "http://status.bytespeicher.org/status_open.png",
            "closed": "http://status.bytespeicher.org/status_closed.png"
        },
        "open": None,
        "lastchange": 0,
        "message": "Status unknown - error while connecting to space",
    },
    "status": "Status unknown - error while connecting to space",
    "open": False,
    "icon": {
        "open": "http://status.bytespeicher.org/status_open.png",
        "closed": "http://status.bytespeicher.org/status_closed.png"
    },
    "feeds": {
          "calendar": {
                   "type": "ical",
                   "url": "https://calendar.google.com/calendar/ical/2eskb61g20prl65k2qd01uktis%40group.calendar.google.com/public/basic.ics"
          }
    }, 
    "sensors": {
        "people_now_present": [{
            "value": 0
        }]
    }
}
